<a href="https://colab.research.google.com/github/DaniGonzalez7/DaniGonzalez7/blob/main/Analise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook de Analise de Dados - Parte 1

In [1]:
# importando a biblioteca Pandas
import pandas as pd

In [2]:
print("Ola mundo!")

Ola mundo!

In [3]:
print(pd)

<module 'pandas' from '/usr/local/lib/python3.10/dist-packages/pandas/__init__.py'>

In [4]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/wallacecarlis/arquivos/main/BBAS3.SA.csv")

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-02-10,49.709999,49.990002,48.880001,49.110001,47.207264,7785300.0
1,2020-02-11,49.919998,51.650002,49.680000,51.320000,49.331635,18096500.0
2,2020-02-12,51.869999,52.360001,50.669998,51.619999,49.620007,16617100.0
3,2020-02-13,51.349998,51.540001,50.450001,50.820000,48.851002,13806300.0
4,2020-02-14,50.880001,50.959999,49.570000,49.849998,47.918587,10022700.0
...,...,...,...,...,...,...,...
243,2021-02-04,34.599998,34.720001,34.020000,34.189999,34.189999,10074200.0
244,2021-02-05,34.279999,34.480000,33.810001,34.000000,34.000000,8052300.0
245,2021-02-08,33.939999,34.250000,33.599998,33.869999,33.869999,11651600.0
246,2021-02-09,33.770000,34.500000,33.650002,34.279999,34.279999,15307000.0
247,2021-02-10,34.279999,34.480000,33.860001,33.959999,33.959999,6020800.0

In [7]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-02-10,49.709999,49.990002,48.880001,49.110001,47.207264,7785300.0
1,2020-02-11,49.919998,51.650002,49.680000,51.320000,49.331635,18096500.0
2,2020-02-12,51.869999,52.360001,50.669998,51.619999,49.620007,16617100.0
3,2020-02-13,51.349998,51.540001,50.450001,50.820000,48.851002,13806300.0
4,2020-02-14,50.880001,50.959999,49.570000,49.849998,47.918587,10022700.0

In [8]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
243,2021-02-04,34.599998,34.720001,34.020000,34.189999,34.189999,10074200.0
244,2021-02-05,34.279999,34.480000,33.810001,34.000000,34.000000,8052300.0
245,2021-02-08,33.939999,34.250000,33.599998,33.869999,33.869999,11651600.0
246,2021-02-09,33.770000,34.500000,33.650002,34.279999,34.279999,15307000.0
247,2021-02-10,34.279999,34.480000,33.860001,33.959999,33.959999,6020800.0

In [9]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-02-10,49.709999,49.990002,48.880001,49.110001,47.207264,7785300.0
1,2020-02-11,49.919998,51.650002,49.680000,51.320000,49.331635,18096500.0
2,2020-02-12,51.869999,52.360001,50.669998,51.619999,49.620007,16617100.0
3,2020-02-13,51.349998,51.540001,50.450001,50.820000,48.851002,13806300.0
4,2020-02-14,50.880001,50.959999,49.570000,49.849998,47.918587,10022700.0
5,2020-02-17,50.080002,50.240002,49.099998,49.099998,47.197647,6749000.0
6,2020-02-18,48.959999,49.900002,48.700001,49.570000,47.649433,8929100.0
7,2020-02-19,49.500000,50.330002,49.150002,49.689999,47.764790,11148100.0
8,2020-02-20,50.000000,50.049999,48.680000,49.180000,47.274548,12052200.0
9,2020-02-21,48.810001,49.220001,48.330002,49.220001,47.313000,6435600.0

In [10]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
238,2021-01-28,33.570000,34.950001,33.480000,34.540001,34.540001,20932100.0
239,2021-01-29,34.099998,34.669998,33.650002,34.070000,34.070000,10896000.0
240,2021-02-01,34.320000,34.500000,33.830002,34.290001,34.290001,16762600.0
241,2021-02-02,34.759998,35.099998,33.840000,34.060001,34.060001,19800900.0
242,2021-02-03,34.299999,34.740002,34.180000,34.330002,34.330002,10473000.0
243,2021-02-04,34.599998,34.720001,34.020000,34.189999,34.189999,10074200.0
244,2021-02-05,34.279999,34.480000,33.810001,34.000000,34.000000,8052300.0
245,2021-02-08,33.939999,34.250000,33.599998,33.869999,33.869999,11651600.0
246,2021-02-09,33.770000,34.500000,33.650002,34.279999,34.279999,15307000.0
247,2021-02-10,34.279999,34.480000,33.860001,33.959999,33.959999,6020800.0

In [11]:
df.shape

(248, 7)

In [12]:
df.shape[0]

248

In [13]:
df.shape[1]

7

In [14]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

In [16]:
df.Open

0      49.709999
1      49.919998
2      51.869999
3      51.349998
4      50.880001
         ...
243    34.599998
244    34.279999
245    33.939999
246    33.770000
247    34.279999
Name: Open, Length: 248, dtype: float64

In [17]:
df["Open"]

0      49.709999
1      49.919998
2      51.869999
3      51.349998
4      50.880001
         ...
243    34.599998
244    34.279999
245    33.939999
246    33.770000
247    34.279999
Name: Open, Length: 248, dtype: float64

In [19]:
df["Open"].count()

247

In [21]:
df.Open.sum()

8356.129997

In [22]:
df.Open.sum() / df.Open.count()

33.830485817813766

In [23]:
df.Open.mean()

33.830485817813766

In [24]:
df.Open.mean().round()

34.0

In [25]:
df.Open.mean().round(2)

33.83

In [26]:
df.Open.median().round(2)

33.57

In [27]:
df.Open.var().round(2)

26.46

In [28]:
df.Open.std().round(2)

5.14

In [29]:
df.Open.max().round(2)

51.87

In [30]:
df.Open.min().round(2)

24.2

In [31]:
df.Open.describe().round(2)

count    247.00
mean      33.83
std        5.14
min       24.20
25%       30.51
50%       33.57
75%       35.09
max       51.87
Name: Open, dtype: float64

In [32]:
df.describe().round(2)

         Open    High     Low   Close  Adj Close       Volume
count  247.00  247.00  247.00  247.00     247.00       247.00
mean    33.83   34.46   33.12   33.73      33.16  19122078.54
std      5.14    5.10    5.15    5.15       4.99   8077973.69
min     24.20   25.00   21.91   22.13      21.57   6020800.00
25%     30.51   31.23   30.05   30.56      30.09  13717100.00
50%     33.57   34.04   32.96   33.39      32.81  18198100.00
75%     35.09   35.61   34.51   34.98      34.55  23189600.00
max     51.87   52.36   50.67   51.62      49.62  73978000.00